body{
    margin: 0;
    font-family: Arial;
}
header{
    background-color: #087E8B;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: center;
}
nav{
    background-color: #373737;
    color: #ffffff;
    width: 100%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}
nav li{
  display: inline;
  padding-right: 20px;
}

nav li a{
  color: white;
  text-decoration: none;
}

nav li a:hover{
  color: lightblue;
}
section{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    width: 100%;
    background-color: #4f83cc;
    color: #ffffff;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.dropdown_div {
    position: relative;
    display: inline-block;

}

.dropdown_button {
    background-color: #373737; /* button background colour */
    color: #ffffff;
    padding-right: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_content {
    display: none; /* remove this to show all links before hovering */
    position: absolute;
    background-color: #373737; /* dropdown items - background colour */
    color: #ffffff;
}

.dropdown_content a {
    font-family: "Arial";
    color: #ffffff;
    padding: 20px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown_content a:hover {
    color: lightblue; /* dropdown items hover - change background colour */
}

.dropdown_div:hover .dropdown_content {
    display: block;
}

.block {
    padding-top: 20px;
    float: center;
    padding-bottom: 20px;
    display: inline-block;
    color: #141618;
    background: #fff;
    border-width: 0;
    border-style: solid;
    border-top-color: #e0e0e0;
    border-right-color: #e0e0e0;
    border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    width: 90%;
}

.base {
    width:100%;
    padding:50px;
}

.block-content {
    margin-right:20px;
    margin-left:20px;
}

p{
    font-family: "Arial";
    text-indent: 50px;
}

h2{
    font-family: "Arial";
    text-indent: 50px;
}

h1{
    font-family: "Arial";
    letter-spacing: 1px;
    font-size: 2.04em;
}

h3{
    font-family: "Arial";
    font-size: 1.5em;
}

div {
    display: block;
}